*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  font-family: "Poppins" sans-serif;
  min-height: 100vh;
}

header{
  font-size: 1.5rem;
}

header,form{
  min-height: 20vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

form input,form button
{
padding:0.5 rem;
font-size: 2rem;
border: none;
background: white;
font-weight:lighter;
}

form input:focus
{
  outline: none;
}

form button{
  color:#ff6f47;
  background:#f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;

}

form button:hover{
background:#ff6f47;
color: white;
}

.todo
{
  margin:0.5 rem;
  background: white;
  font-size: 1.5 rem;
  color: black;
  display: flex;
  justify-content: space-between;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}
select{
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color:  #ff6f47;
  width: 12rem;
  height:2.2rem;
  padding: 0.5rem;
}

.select
{
  margin:1rem;
  position: relative;
  overflow: hidden;
}

.select::after{
  position: absolute;
  content: "\25BC";
  top:0;
  right:0;
  padding: 0.5rem;
  cursor: pointer;
  background:#ff6f47 ;
  pointer-events: none;
}

.trash-btn,.complete-btn
{
  font-size:1rem;
  padding:1rem;
  cursor:pointer;
  background:#ff6f47;
  color: white;
  border: none;
}

.complete-btn
{
  background: rgb(11, 212, 162);
}
 .todo-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list
{
  min-width: 30%;
  list-style:none;
}

.todo-item{
padding: 0rem 0.5rem;
}
.todo{
  margin: 0.5rem;
  background: white;
  font-size: 1rem;
  color: black;
  justify-content:space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li{
  flex:1;
}

.completed
{
  text-decoration: line-through;
  opacity: 0.5;
}


